.containerbox {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn2.resumenerd.com/images/dotted-bg.png);
}
.left{
    width: 75%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width:25%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}
.right button {
    border: none;
    padding: 5px 3px;
}
.firstbox{
    display: flex;

    flex-direction: column;
    align-items: center;
}
.firstbox h1,p {
    margin: 10px 0 0;
}
.formatoption>div>p {
    padding-bottom: 5px;
}
.firstbox{
border-bottom: 1px solid #e4dbdb;
height: 35%;
width: 100%;

}
.secondbox{
    border-bottom: 1px solid #e4dbdb;
    height: 33%;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    
    }
.firstbox .formatoption {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.buttonbox {
  margin:8px 0;
  display: flex;
  justify-content: space-around;
}
.buttonbox button {
    padding: 5px 20px;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 5px 38px 0px #b4b4b4;
    background: linear-gradient(rgb(156, 207, 83) 5%, rgb(135, 202, 40) 100%);;
}
.fontstyle {
    display: flex;
    justify-content: space-between;
}
.fontstyle>div {
    width: 100%;
}
.fontstyle div>p {
    margin-bottom: 5px;
}
.fontstyle select {
    background-color: rgb(255, 255, 255);
    width: 90%;
    border: 1px solid silver;
    height: 30px;
    border-radius: 5px;
}
.colors>div>p {
    margin-bottom: 10px;
}
.colorbox {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.colorbox input {
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
    width: 36px;
    height: 36px;
    color: white;
    background-color: aliceblue;
    border-radius: 50%;
    border: none;
}
.colorbox .color1 {
    background-color: rgb(167, 193, 216);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}
.colorbox .color2 {
    background-color: rgb(68, 223, 119);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}
.colorbox .color3 {
    background-color: rgb(34, 82, 124);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}
.colorbox .color4 {
    background-color: rgb(177, 235, 213);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}
.colorbox .color5 {
    background-color: rgb(190, 22, 58);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}
.colorbox .color6 {
    background-color: rgb(148, 133, 211);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}
.colorbox .color7 {
    background-color: rgb(233, 230, 76);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}
.colorbox .color8 {
    background-color: rgb(76, 139, 233);
    box-shadow: 0 10px 30px rgb(167, 193, 216 );
}

.outputbutton  div{
    height: 43px;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgb(140, 197, 62);
    color: white;
    height: 36px;
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outputbutton div:hover {
    background-color: #94dd46;
}
.thirdbox {
    padding: 25px;
    box-sizing: border-box;
}
.resumebox{
    margin: 20px 0;
    width: 65%;
    
    background-color: white;
    padding: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    display: flex;
}