.Raleway {
  font-family: "Raleway" ,Arial, sans-serif;
}
.Sans-serif{
  font-family: sans-serif;
}
.Verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Small {
  font-size: small;
}
.Medium {
  font-size: medium;
}
.Large {
  font-size: large;
}
.resumecontainer {
    display: flex;
    width: 100%;
    height: 930px;
}

.right {
    background-color: aliceblue;
    width: 67%;
}
.left .personaldetail {
    margin-top: 150px;
    margin-left: 10px;
}
.left h3{
    text-transform: uppercase;
    
}
.left p {
    text-transform: capitalize;
    font-size: .8em;
    word-break: break-all;
    white-space: normal;
}
.domaindetail{
    width: 95%;
}

.titleBar h5 {
    padding: 2px 0;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    font-size: .8em;
}
.properties {
    font-size: .8em;
    margin-left: 12px;
}
.skills .properties {
    margin-left: 10px;
}
.skills ul {
    padding-left: 0;
    list-style-type:disc;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 0;
}
.skills ul li {
    padding: 2px 5px;
    list-style: inside;
}
.left {
   color: white;
    width: 33%;
}
.titleBar {
    color: white;
    padding-left: 10px;
}
.new {
    background-color: black;
    color: white;
}
.resumeBgColor1 {
    background-color: rgb(167, 193, 216);
  }
  .resumeBgColor2 {
    background-color: rgb(68, 223, 119);
  }
  .resumeBgColor3 {
    background-color: rgb(34, 82, 124);
  }
  .resumeBgColor4 {
    background-color: rgb(177, 235, 213);
  }
  .resumeBgColor5 {
    background-color: rgb(190, 22, 58);
  }
  .resumeBgColor6 {
    background-color: rgb(148, 133, 211);
  }
  .resumeBgColor7 {
    background-color: rgb(233, 230, 76);
  }
  .resumeBgColor8 {
    background-color: rgb(76, 139, 233);
  }