a {
    text-decoration: none;
}
.formsection {
    margin-top: 50px;
    margin-bottom: 60px;
    width: 520px;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 40px 40px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    align-items: center;
}
.formsection form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headersection {
    text-align: center;
}

.formsection input {
    height: 38px;
    width: 100%;
    margin-bottom: 18px;
    border-radius: 5px;
    border: 1px solid silver;
}
.skills {
    position: relative;
}
.skills i {
    position: absolute;
}
.updown i {
    top: 12px;
    left: -14px;  
    color: #03acbb;
}

.input i {
    top: 12px;
    right: 4px;
}
.skills i:hover {
    cursor: pointer;
    color: #03acbb;
}
.form .btnSite {
    height: 43px;
    width: 100%;
    color: white;
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #8cc53e;
}
.btnSite:hover {
    background-color: #94dd46;
}
.desc {
    margin-bottom: 20px;
}
.desc a {
    color: #03acbb;
}
.desc a:hover {
    text-decoration: underline;
}
.back a{
    color: #03acbb;
    text-decoration: none;
}
.back a:hover {
    text-decoration: underline;
}
